body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #d9d9d9 !important;
  padding-bottom: 80px; /* To be able to add components indefinetly - remove with JS on export*/
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

#__placeholder{

  outline: 1px black solid;
  outline-offset: -2px;
  min-height: 12rem;
  width: 100%;
}

/*This needs to be inserted and removed via JS - via APPEND on hover*/
.outline-dashed {
  outline: 2px dashed #595959;
  outline-offset: -1px;
}

.outline {
  outline: 4px solid orange;
  outline-offset: -3px;
}