/*With click disabled*/
.dd-input:checked+.dd-menu {
    display: none;
}

.dd-input:hover+.dd-menu {
    display: block;
}

.dd-menu {
    /*add following 5 lines on mini-version and make .dd-input:hover ----------------------------------   */
    position: absolute;
    left: 63px;
    top: 39px;
    z-index: 99999;
    height: 93vh;

    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    list-style-type: none;
}

/*Colors parent on li a hover - Works!*/
.selector:hover .dd-button {
    background: orangered;
    color: white;
}

.dd-button {

    padding: 5px !important;
    font-size: 17px !important;
}